url: 'http://overpass-api.de/api/interpreter' #adresa api
update: false
saveEmpty: true

dirs:
	output: 'output'
	queries: 'queries'

tiles:
	lat:
		min: -90
		max: 90
		step: 2
	lon:
		min: -180
		max: 180
		step: 2

	
    

